SimplePie_Item->get_base returns xml:base for feed not current item

RFC4287 (The Atom Syndication Format) says the following:
    Any element defined by this specification MAY have an xml:base attribute [W3C.REC-xmlbase-20010627].  When xml:base is used in an Atom Document, it serves the function described in section 5.1.1 of [RFC3986], establishing the base URI (or IRI) for resolving any relative references found within the effective scope of the xml:base attribute.

Therefore the behaviour of the get_base method on SimplePie_Item is incorrect.
